{% extends "RadiolinecoWebappBundle::layout.ajax.twig" %}

{% block main_container %}

<ul class="breadcrumb">
				  <li><a href="javascript:;" onclick="goUrl('{{ path('radiolineco_webapp_index') }}'); return false;" class="ajaxy ajaxy-page nogoUrl" >{{ 'Home'|trans }} </a><span class="divider">&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;</span></li>
				  
				  <li class="active">{{ 'Contact'|trans }}</li>
			</ul>
			
<div class="row">
				
				<div class="main span8">
				<div class="section">
				<div class="section-header navbar">
							<div class="desc  pull-left"><h2 class="black"><strong>{{ 'Contact'|trans }}</strong></h2></div>
								
							<div class="clearfix"></div>
						</div>
				<div class="section-container" style="height:700px;">


<div id="contact1" class="hide">
<p>
{{ 'Your message has been sent successfully!'|trans }}
</p>
</div>


<style>
.form-control {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
    line-height: 35px;
}

</style>
<div id="contact2">
<p>
{{ 'You haven’t found your answer to our question using our FAQ? You want to add a radio station to Radioline’s catalogue? Please fill in the form below:'|trans }}
</p>
<p>
<div>
<form class="form-horizontal span5" id="formContact" style="text-align:center;" role="form">
	<div id="alertdiv11" class="alert alert-danger hide"></div>
	<div class="form-group">
		<input name="inputfirstname" id="inputfirstname" type="text" class="form-control span5" style="height:28px;" placeholder="{{ 'Your name'|trans }}">
	</div>
	<div class="form-group" style="margin-top:10px;">
		<input name="inputemail" id="inputemail" type="email" class="form-control span5" style="height:28px;"  placeholder="{{ 'Your email'|trans }}">
	</div>
	<div class="form-group" style="margin-top:10px;">
		<select name="platformType" id="platformType" size="1" placeholder="{{ 'Application type'|trans }}" class="form-control" style="width:385px;">
			<option value="" disabled selected>{{ 'Application type'|trans }}</option>
    		<option value="iPhone">iPhone</option>
    		<option value="Mac" >Mac</option>
    		<option value="iPad" >iPad</option>
    		<option value="Android" >Android</option>
    		<option value="Web" >Web</option>
    		<option value="Windows8" >Windows 8</option>
		</select>
	</div>
	<div class="form-group" style="margin-top:10px;">
		<select name="messageType" id="messageType" size="1" placeholder="Type de demande" class="form-control" style="width:385px;">
			<option value="" disabled selected>{{ 'Request type'|trans }}</option>
    		<option value="bugReport">{{ 'Report issue'|trans }}</option>
    		<option value="suggestion">{{ 'Suggestion'|trans }}</option>
    		<option value="pressContact">{{ 'Press'|trans }}</option>
    		<option value="AddRadio">{{ 'Suggest a radio station'|trans }}</option>
		</select>
	</div>
	<div class="form-group" style="margin-top:10px;">
		<textarea id="message" name="message" placeholder="Votre message" cols="100" rows="10" class="form-control span5"></textarea>
	</div>
	<div class="form-group" style="margin-top:10px;">
		<button type="submit" class="btn btn-default pull-right" data-loading-text="En cours..." onclick="submitContactForm('{{ path('radiolineco_webapp_contact') }}'); return false;" >Envoyer</button>
	</div>
</form>
<br>
</div>
</p>
</div>

</div>
</div>

{% endblock %}