{% extends "RadiolinecoWebappBundle::layout.ajax.twig" %}


{% block main_container %}

	<ul class="breadcrumb">
		  <li><a href="{{ path('radiolineco_webapp_index') }}" class="ajaxy ajaxy-page">{{ 'Home'|trans }}</a><span class="divider">&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;</span></li>
		  <li class="active"><h1>{{ 'Listen to'|trans }} {{ name }} {{ 'live'|trans }}</h1></li>					  
	</ul>	

	<!--- begin content-->
	<div class="row">	
		<div class="main span8">
			<div class="section  nomargin radio-station" id="radio-one">
				<div class="section-header navbar">
					<div class="desc  pull-left"><h2> {{ name }}  </h2></div>	
					<div class="clearfix"></div>
				</div>
				<!--<div class="section-container" style="height:600px;">-->
				<div class="section-container">
					{%  if parag is empty	%}
						{{ 'no result 1'|trans }}<br>
						<br>
						{{ 'no result 2'|trans }} <a href="javascript" onclick="goUrl('{{ path('radiolineco_webapp_contact') }}'); return false" style="nogoUrl" ><b>{{ 'no result 4'|trans }}</b></a>
				</div>
			</div>
					{% else %}
						<div class="cover pull-left">
							{% if img is defined %}
								<img src={{ img }} height="196px" width="196px" alt="{{ name }}" />
							{% else %}
								<img src="" height="196px" width="196px" alt="{{ name }}" />
							{% endif %}	
						</div>	
							
							<div class="show-info text-right pull-right">
							
								<div class="title">																						
											<div class="clearfix"></div>
											<p class="desc"  style="text-align:left">{{ parag }}<br /></p
											<p class="desc"><a href="{{ path('radiolineco_webapp_search', { 'query': name }) }}" title="{{ 'Listen to'|trans }} {{ name }} {{ 'live'|trans }}">{{ 'Listen'|trans }}&nbsp;&nbsp;</a>
											</p>
											
								</div>
								<div class="action">
									<a href="javascript:;" onclick="share('{{ url('radiolineco_webapp_people', { 'name': name }) }}?l={{ 'lang'|trans }}', 'facebook', ''); return false;" title="{{ 'Share'|trans }} {{ name }}" class="s3 i-share4 nogoUrl"></a>
												
								</div>

							
								
							</div>
							
							<div class="clearfix"></div>
							
						</div>	
							
							
					</div>
					<!--// end section-->
						{% endif %}	
					
					
{% endblock %}