<div class="section" id="rcarousel2">
						<div class="section-header">
							<div class="desc  pull-left"><h2><strong>{{ 'Shows On Air'|trans }}</strong></h2></div>
												
							<div class="clearfix"></div>
						</div>
						
						<div class="section-container">
							<div id="selection">
								<div class="list_carousel slide ">
								
									 <!-- Carousel items -->
										<ul class="rcarousel">
											
											
											{% for show in showsonair %}
											<!--item {{ show['name'] }}-->
											<li class="item">
												
												<img src="{{ show['showImage'] }}" alt="{{ 'Listen to'|trans }} {{ show['name'] }} {{ 'online'|trans }}" width="141px" height="141px" />
												<div class="mask text-right">  
													<img class="schannel" src="{{ show['logo'] }}" alt="{{ 'Listen to'|trans }} {{ show['name'] }} {{ 'online'|trans }}" style="height:34px; width:34px;" />
													<h3>{{ show['name']|upper }}</h3>  
													<span class="title">{{ show['onAir']|upper }}</span> 												
												 </div>
												
												<div class="action-mask">
														
														{% if connected == true %}
															{% if show['permalink'] in presets_array %}
														<a href="javascript:;" onclick="return false;" class="s2 action favourite active nogoUrl" style="cursor:default;"></a>
															{% else %}
														<a href="javascript:;" onclick="addpreset($(this), '{{ show['permalink'] }}'); return false;" class="s2 action favourite nogoUrl"></a>	
															{% endif %}
														{% endif %}
                                                        {% if show['permalink'] in presets_array %}
														    <a href="javascript:;" onclick="playStation('{{ show['permalink']|replace({'-': '_'}) }}'); counter('{{ show['permalink']|replace({'-': '_'}) }}'); return false;" class="s2 action play nogoUrl"></a>
                                                        {% else %}
                                                            <a href="javascript:;" onclick="playStation('{{ show['permalink']|replace({'-': '_'}) }}'); return false;" class="s2 action play nogoUrl"></a>
                                                        {% endif %}
														{% if from_ajax == 'true' %}
														<a href="javascript:;" onclick="goUrl('{{ path('radiolineco_webapp_radio', { 'name': show["name"], 'permalink': show["permalink"]|replace({'radios/': ''}) }) }}'); return false;" title="{{ 'Listen to'|trans }} {{ show['name'] }} {{ 'radios live'|trans }}" class="s2 action overview ajaxy ajaxy-page nogoUrl"></a>
														{% else %}
														<a href="{{ path('radiolineco_webapp_radio', { 'name': show["name"], 'permalink': show["permalink"]|replace({'radios/': ''}) }) }}" title="{{ 'Listen to'|trans }} {{ show['name'] }} {{ 'radios live'|trans }}" class="s2 action overview ajaxy ajaxy-page"></a>
														{% endif %}				
												</div>
												
											</li>
											<!--//item {{ show['name'] }}-->
											{% endfor %}
										
										</ul>
									  <!-- Carousel nav -->
								</div>
							</div>
							
							<div class="clearfix"></div>
						</div>	
							
							
					</div>
					